*{
	margin: 0;padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
body{
	min-width: 320px;
	max-width: 750px;
	width: 100%;
	background: #eee;
	font-size: 0.2rem;
	margin: 0 auto;
	position: relative;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/*头部*/
header{
	width: 7.5rem;
	height: 1.28rem;
	background: #4fb5e9;
	position: fixed;
	top:0;
	margin:0 auto ;}
.top{
	width: 7.5rem;
	height: 0.6rem;
}
.top img{
	margin-top:0.6rem;
	margin-left: 0.38rem;
	width: 0.28rem;
	height: 0.46rem;
}
.revise{
	width: 7.5rem;
	height: 0.69rem;
}
.revise p{
	font-size:0.3818rem;
	color:#ffffff;
	text-align:center;
}
/*新密码*/
.content{
	width: 7.5rem;
	height: 12.05rem;
	background: #ffffff;
	margin-top: 1.28rem	
}
.newpasswd{
	width: 6.57rem;
	height: 1.51rem;
	margin-left: 0.48rem;
	display: block;
}
.newpasswd input{
	width: 6.57rem;
	height: 0.76rem;
	margin-top: 0.76rem;
}
/*确认密码*/
.confirmpasswd input{
	margin-top:0.27rem;
	margin-left: 0.48rem;
	width: 6.57rem;
	height: 0.76rem;
}
/*修改密码按钮*/
.button{
	margin-top:0.47rem;
	margin-left:0.46rem;
}
.button input{
	width: 6.54rem;
	height: 0.79rem;
	background: #4fb5e9;
}