*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
body{
	min-width: 320px;
	max-width: 750px;
	width: 100%;
	/*height: 13.33rem;*/
	background: #eee;
	font-size: 0.2rem;
	margin: 0 auto;
	position: relative;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/*头部*/
header{
	width: 7.5rem;
	height: 1.28rem;
	background: #4fb5e9;
	position: fixed;
	top:0;
	margin:0 auto ;}
.top{
	width: 7.5rem;
	height: 0.6rem;
	/*background: green;*/
}
.top img{
	width: 0.26rem;
    height: 0.44rem;
     margin-top: 0.6rem;
     margin-left:0.38rem;
}
.found{
	width: 7.5rem;
	height: 0.69rem;
}
.found p{
	font-size:0.3818rem;
	color:#ffffff;
	text-align:center;
	/*background: red;*/
}

/*新手机号码*/
.bottom	{
	width: 7.5rem;
	height: 12.05rem;
	background: #ffffff;
	overflow: hidden;
	display: block;
	margin-top:1.28rem;
}
.bottom	.phone{
	width: 6.58rem;
	height: 0.73rem;
	margin-top: 0.74rem;
	margin-left: 0.47rem
}
.bottom	.phone input{
	width: 6.58rem;
	height: 0.73rem;
	text-indent: 1em
}
/*验证码*/
.identifying {
	width: 7rem;
	height: 0.73rem;
	margin-top:0.28rem;
	margin-left: 0.47rem
}
.identifying #give{
	width: 3.65rem;
	height: 0.73rem;
	text-indent:1em;
	float:left;
}
.identifying #get{
	width: 2.77rem;
	height: 0.73rem;
	margin-left:0.14rem;
	background: #ffffff;
}

/*找回密码*/
.anniu{
	width: 6.55rem;
	height: 0.79rem;
	margin-top: 0.47rem;
	margin-left: 0.47rem
}
.anniu input{
	width: 6.55rem;
	height: 0.79rem;
	background: #4fb5e9;
}